@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}

*{
    margin:0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}
/*--------------------------------------------- LISTADOHABITACIÓN--------------------------------------*/
/*Resolución notebooks y deskop*/
@media screen and (min-width: 800px){
    #contenedor{
      display: flex;
      flex-direction: row;
    }
    .menulateral1{
      background: url(../listadohabitacion/curvadashboard.jpg);
      height: 12em;
    }
    .imagen1{
      padding: 2rem;
      width: 12em;
    }
    .muñecaAnguie{
      margin-left: 1em;
      width: 3em;
      border-radius: 0.3em;
    }
    
    .AnguieeV{
      display: flex;
      flex-direction: row;
    }
  
    .AnguieeV h3 {
      margin-left: 1.4em;
      color: white;
    } 
    .AnguieeV p {
      margin-left: 2em;
      color: white;
      font-size: 0.7em;
    } 
    .listadohabitacion{
      background-color: var(--negro);
      height: 47em;
      width: 20em;
    }
  
    .menulateral2{
      display: flex;
      flex-direction: column;
    }
    .items{
      margin-top: 0.5em;
      color: white;
    }
    .iitems{
      margin-top: 2.5em;
      margin-left: 1em;
      color: white;
    }
    .salida{
      margin-top: 18em;
      margin-left: 1em;
      color: white;
    }
    
    .habitaciones{
      background-color:var(--blanco);
    }
    .titulohabi{
      font-family: 'Marcellus', serif;
      font-size: 3em;
      margin-left: 10em;
      margin-top: 0.3em;
    }
    .categoriaestado{
      background-color: #e2e2e2;
      display: flex;
      flex-direction: row;
      margin-top: 1em;
    }
    .cate{
      margin-left: 26em;
    }
    .categoriaestado p{
      font-family:'Arial';
      font-size: 1em;
    }
    select{
      margin-right: 8em;
    }
    .camas{
      width: 75em;
      height: 40.15em;
    }
    .fila1{
      display: flex;
      flex-direction: row;
    }
  
    .fila2{
      display: flex;
      flex-direction: row;
    }
  
    .cama1{
      background-color:#f4f2ee;
      width: 20em;
      margin-left: 6em;
      margin-right: 3em;
      margin-top: 1em;
    }
  
    .cama2{
      background-color:#f4f2ee;
      width: 20em;
      margin-right: 3em;
      margin-top: 1em;
    }
  
    .cama3{
      background-color:#f4f2ee;
      width: 20em;
      margin-right: 3em;
      margin-top: 1em;
    }
  
    .imagen2{
      margin-top: 1.2em;
      width: 13em;
      height: 10em;
      margin-left: 3em;
    }
    .decripcion{
      background-color: #0e64b06e;
      text-align: center;
      margin-left: 3em;
      margin-right: 4em;
    }
  
    .precio{
      margin-top: 0.2em;
      font-family: 'Marcellus', serif;
      text-align: center;
    }
    
    .frase{
      text-align: center;
    }

    .botonlistado{
      margin-left: 4em;
      margin-right: 2em;
      margin-top: 0.2em;
    }
    .modificar{
      color: var(--blanco);
      background-color: var(--negro);
      margin-left: 5em;
      margin-right: 4em;
    }
    .estado{
      color: var(--blanco);
      background-color:#9C2759;
    }
  }
  
/*Resolución tablet*/
@media screen and (max-width: 799.8px){
  #contenedor{
    display: flex;
    flex-direction: row;
  }
  .menulateral1{
    background: url(../listadohabitacion/curvadashboard.jpg);
    height: 9em;
    width: 6em;
  }
  .imagen1{
    display: none;
  }

  .imagenn1{
    padding: 1rem;
    width: 4em;
  }
  .muñecaAnguie{
    margin-left: 1.3em;
    width: 3em;
    border-radius: 0.3em;
  }
    
  .AnguieeV{
    display: flex;
    flex-direction: row;
  }
  
  .AnguieeV h3 {
    display: none;
  } 
  .AnguieeV p {
    display: none;
  } 

  .listadohabitacion{
    background-color: var(--negro);
    height: 47em;
    width: 10em;
  }
  
  .menulateral2{
    display: flex;
    flex-direction: column;
  }
  .menulateral2 p{
    display: none;
  }
  .menulateral2 i{
    color: white;
    font-size: 2em;
    margin-top: 1.5em;
    margin-left: 0.5em;
  }
  
  .salida p{
    display: none;
  }
  .salida i{
    color: white;
    font-size: 2em;
    margin-top: 8em;
    margin-left: 0.5em;
  }

  .habitaciones{
    background-color:var(--blanco);
  }

  .titulohabi{
    font-family: 'Marcellus', serif;
    font-size: 2em;
    margin-left: 5em;
    margin-top: 0.1em;
  }
  
  .categoriaestado{
    background-color: #e2e2e2;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .cate{
    margin-left: 5em;
  }
  .categoriaestado p{
    font-family:'Arial';
    font-size: 1em;
  }

  select{
    margin-right: 4em;
  }
  .camas{
    width: 30em;
    height: 20em;
  }
  .fila1{
    display: flex;
    flex-direction: row;
  }
  
  .fila2{
    display: flex;
    flex-direction: row;
  }
  
  .cama1{
    background-color:#f4f2ee;
    width: 14em;
    margin-left: 2em;
    margin-right: 3em;
    margin-top: 2em;
  }
  
  .cama2{
    background-color:#f4f2ee;
    width: 14em;
    margin-left: 1em;
    margin-right: 3em;
    margin-top: 2em;
  }
  
  .cama3{
    display: none;
  }
  
  .imagen2{
    margin-top: 0.2em;
    width: 9em;
    height: 8em;
    margin-left: 1em;
  }
  .decripcion{
    background-color: #0e64b06e;
    text-align: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .precio{
    margin-top: 0.2em;
    font-family: 'Marcellus', serif;
    text-align: center;
  }
    
  .frase{
    text-align: center;
    font-size: 1em;
  }

  .botonlistado{
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 0.2em;
  }
  .modificar{
    color: var(--blanco);
    background-color: var(--negro);
    margin-left: 3em;
    margin-right: 2em;
  }
  .estado{
    color: var(--blanco);
    background-color:#9C2759;
    margin-left: 3em;
    margin-right: 2em;
  }
}
  
  /*Resolución mobile*/
  @media screen and (max-width: 460px){
    
  }